/* work sens font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* common style */
* {
    font-family: 'Work Sans', sans-serif;
}

.primary-title {
    color: #0B0223;
    font-size: 1.5rem;
    font-weight: 700;
}

.primary-img {
    width: 40px;
    height: 20px;
    padding-right: 10px;
}

.pink {
    color: #ff42a5;
}

.white {
    color: #FFF;
}

/* header style */
header {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 30px 240px;
    height: 70px;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
    font-weight: 500px;
}

nav li {
    list-style: none;
    font-size: 1rem;

}

.li {
    display: flex;
    align-items: center;
    margin-right: 20px;

}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.yt {
    width: 24px;
    height: 24px;
    padding-right: 8px;
    padding-left: 15px;
}

.tiktok {
    width: 24px;
    height: 24px;
}

.media {
    display: flex;
    align-items: center;
    border-radius: 3px;
    background: rgba(11, 2, 35, 0.10);
    padding: 10px 15px;
    width: 176px;
    height: 30px;
}

/* main section style */
main {
    max-width: 1440px;
    margin: 0 auto;
}

.banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.banner{
    width: 901px;
    height: 700px;
    margin-top: 150px;
}

.banner-title {
    color: #0B0223;
    text-align: center;
    margin-bottom: 0;
    font-size: 2.5rem;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-main-title {
    text-align: center;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0 0 16px 0;
    font-size: 5rem;
    font-weight: 800;
    text-transform: uppercase;
}

.banner-des {
    color: #534C64;
    font-size: 1rem;
    font-weight: 500;
    text-transform: lowercase;
}

.btn-pink {
    border-radius: 48px;
    background: #FF42A5;
    color: #FFF;
    font-size: 0.5rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 40px;
    margin-right: 15px;
    padding: 10px 20px;
    cursor: pointer;
    border: 0;
}

.btn-sky {
    border-radius: 48px;
    background: #4EC5F7;
    color: #FFF;
    font-size: 0.5rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 20px;
    cursor: pointer;
    border: 0;
}

.banner-img {

    width: 100%;
    margin-left: 400px;
}

.video-title {
    color: #0B0223;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 5px;
}

.fun-video {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.video-des {
    color: #534C64;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;


}

.video-list {
    display: flex;
    justify-content: center;
    gap: 1.25rem;
    align-items: center;
}

.img {
    width: 300px;
    height: 370px;
    margin-top: 40px;
}

.play-btn {
    position: relative;
    bottom: 195px;
    right: 180px;
}

.watch {
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    color: #F948B2;
    position: relative;
    bottom: 180px;
    right: 20px;
    padding-bottom: 0;
}


/* features style */
.features {
    display: flex;
    margin-top: 100px;
    gap: 220px;
}

.feature-title {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 120%;
    margin-top: 230px;
    margin-bottom: 20px;
}

.feature-des {
    color: #534C64;
    font-size: 1rem;
    font-weight: 400;
}

.hero-img {
    width: 570px;
    height: 520px;

}

.cat-and-girl {
    width: 260px;
    height: 300px;
    border-radius: 5px;
    border: 2px solid #FFF;
    position: relative;
    bottom: 200px;
    left: 450px;

}

.sponsor div {
    display: flex;
    justify-content: center;
    align-items: center;

}


.icon-img {}

.icon-title {
    color: #0B0223;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 50px 25px 15px;
}





/* footer style */
footer {
    background: #0B0223;
}

footer li {
    list-style: none;
    margin-right: 50px;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500px;
    color: #FFF;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

}

.social img {
    margin-right: 40px;
}

.policy {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    color: rgba(255, 255, 255, 0.60);
    font-size: 1rem;
    font-weight: 500;
}

.copyright {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    padding-top: 15px;
    padding-bottom: 100px;
}

/* footer end */



/* mobile responsive */
@media screen and (max-width: 576px) {
    header {
        padding: 10px;
    }

    nav,
    ul,
    .li
     {
        flex-direction: column;
        padding-bottom: 20px;
    }
    .banner-container{
        padding-left: 50px;
    }

}